html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
nav a
{
	font-size: 1em;
	color: white;
	padding-bottom: 3px;
	text-decoration: none;
	text-align: center;

}
nav a:hover
{
	color: white;
	font-weight: bold;
	border-left: 3px solid white;
}
nav a:active
{
	color: white;
	font-weight: bold;
}
nav a:focus
{
	border-left: 3px solid white;
	font-weight: bold;
}
nav ul
{
	list-style-type: none;
	background-color: black;
	text-align: center;
	padding-right: 8%;
	margin:0;
}
nav li
{
	display: inline-block;
	margin-right: 3%;
	margin-left: 3%;
}
nav
{
	font-weight: bold;
	font-family: Tahoma;
	font-size: 2em;
}
body 
{
	background-color: white;
	font-family: arial;
}
form
{
	margin-left: 90px;
	position: absolute;
	top: 135px;
}
section
{
	width: 50%;
	padding-left: 50px;

}
#titre
{
	color: #0b05f7;
	font-weight: bold;
}
.abonner
{
	position: absolute;
	left: 700px;
	background-color: blue;
	color: white;
	height: 50px;
	width: 120px;
	font-size: 1em;
	font-family: arial;
}
.abonner:hover
{
	background-color:#e6e6ff;   
  	color: #0000e6;   
  	cursor: pointer;
}
#retour, #enreg, #submit1, #connect
{
	color:#0000e6;
	text-decoration: none;
	font-family: Arial;
	font-size: 1.2em;
	height: 30px;
}
#retour:hover, #enreg:hover, #submit1:hover, #connect:hover
{
	cursor: pointer;
	color: black;
}
#rechercheb
{
	position: absolute;
	top: 5px;
	margin-left: 5px;
}
#mode
{
	position: absolute;
	top: 10%;
	left: 10%;	
}
#mode a
{
	text-decoration: none;
	color: blue;
	font-size: 1.5em;
}
#mode a:hover
{
	color: white;
	font-weight: bolder;
}
#mode a:focus
{
	border-bottom: 2px solid white;
	color: white;
	font-weight: bold;
}

#connexion
{
	background-color: blue;
	width: 100%;
	height: 13%;
	position: absolute;
	top: 10%;
}
.connexion, .abonner
{
	position: absolute;
	top: 30%;
}
.sous_menus
{
	background-color: blue;
	width: 100%;
	height: 13%;
	position: absolute;
	top: 6%;
	padding-left: 20%;
}
.sous_menus a
{
	text-decoration: none;
	color: black;
	font-size: 1.6em;
	font-weight: bold;
	padding-left: 3%;
	padding-top: 3%;
	display: inline-block;
}
.sous_menus a:hover
{
	color: white;
}
.sous_menus a:focus
{
	color: white;
	font-weight: bold;
}
.article
{
	position: absolute;
	left: 0%;
	top: 19%;
	height: 130%;
	width: 20%;
	background-color: black;
}
.section
{
	position: absolute;
	right: 10%;
	top: 23%;
	padding: 2% 20% 2% 2%;
}

		/*Pied de page */
		footer ul, footer
{
	font-size: 1em;
	font-family: tahoma;
}
footer
{
	background: blue;
	background-attachment: scroll;
	padding-top: 25px;
	position: absolute;
	top: 150%;
	width: 100%;
}
h1
{
	font-size: 1.5em;
	color: black;
	text-align: justify;
	padding-left: 20%;
}

		#propos, #suivez, #partenaires
{
	display: inline-block;
	vertical-align: top;
}
#propos ul, #suivez ul, #partenaires ul
{
	display: block;
	vertical-align: top;
	margin-top: 0;
	padding-left: 20%;
	text-align: justify;
	width: 100%;
}
#propos
{
	width: 20%;
	padding-left: 10%;
}
#partenaires
{
	width: 20%;
}
#partenaires li
{
	display: block;
}
#suivez
{
	width: 40%;
}
#suivez li
{
	display: inline;
}
#biblio a
{
	text-decoration: none;
	color: #ffe6e6;
}
#biblio ul
{
	list-style-type: none;
}

}
#biblio a:hover
{
	color: black;
	border-bottom: 2px solid white;
}
#biblio a:active
{
	color: black;
	font-weight: bold;
}
#biblio a:focus
{
	background-color: black;
	font-weight: bold;
}


